<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    {% load static %}
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/queries.css' %}" />
    <link rel="icon" href="{% static 'logo.svg' %}" />
    {% block templates %}{% endblock %}
  </head>

  <body>
    <div class="container-fluid">
      <div class="row myNavbar">
        <div class="col-3 d-flex align-items-center">
          <div class="">
            <a href="{% url 'home' %}">
              <img src="{% static 'img/logo.png' %}" alt="" />
            </a>
          </div>
        </div>
        <div class="col-6 padding-0">
          <div class="searchForm">
            <form class="" action="/search">
              <input
                autocomplete="off"
                name="q"
                class="searchInput"
                type="search"
                placeholder="Bạn tìm gì..."
                aria-label="Search"
              />
              {% comment %}
              <button
                class="btn pl-2 btn-outline-success my-2 my-sm-0"
                type="submit"
              >
                Search
              </button>
              {% endcomment %}
            </form>
            <i class="fal fa-times"></i>
          </div>
          <div class="main">
            <ul class="d-flex">
              <li class="d-flex align-items-center">
                <a href="">iPhone</a>
              </li>
              <li class="d-flex align-items-center">
                <a href="">Mac</a>
              </li>
              <li class="d-flex align-items-center">
                <a href="">iPad</a>
              </li>
              <li class="d-flex align-items-center">
                <a href="">Watch</a>
              </li>
              <li class="d-flex align-items-center">
                <a href="">Blog</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3 padding-0">
          <div class="menu pl-5 pr-5">
            <ul class="d-flex justify-content-between">
              <li class="d-flex align-items-center">
                <div class="bg searchIcon">
                  <i class="far fa-search"></i>
                </div>
              </li>
              <li class="d-flex align-items-center">
                <a href="">
                  <div class="bg">
                    <i class="far fa-shopping-bag"></i>
                  </div>
                </a>
              </li>
              <li class="d-flex align-items-center">
                <a href="{% url 'login' %}">
                  <div class="bg">
                    <i class="far fa-user"></i>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% block content %}{% endblock %}
    </div>

    
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
