<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    {% load static %}
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/queries.css' %}" />
    <link rel="icon" href="{% static 'logo.svg' %}" />
    {% block templates %}{% endblock %}
  </head>

  <body>
    <div class="container-fluid">
      <div class="row myNavbar">
        <div class="col-3 d-flex align-items-center">
          <div class="">
            <a href="{% url 'home' %}">
              <img src="{% static 'img/logo.png' %}" alt="" />
            </a>
          </div>
        </div>
        <div class="col-6 padding-0">
          <div class="searchForm">
            <form class="" action="/search">
              <input
                autocomplete="off"
                name="q"
                class="searchInput"
                type="search"
                placeholder="Bạn tìm gì..."
                aria-label="Search"
              />
              {% comment %}
              <button
                class="btn pl-2 btn-outline-success my-2 my-sm-0"
                type="submit"
              >
                Search
              </button>
              {% endcomment %}
            </form>
            <i class="fal fa-times"></i>
          </div>
          <div class="main">
            <ul class="d-flex">
              <li class="d-flex align-items-center">
                <a href="">iPhone</a>
              </li>
              <li class="d-flex align-items-center">
                <a href="">Mac</a>
              </li>
              <li class="d-flex align-items-center">
                <a href="">iPad</a>
              </li>
              <li class="d-flex align-items-center">
                <a href="">Watch</a>
              </li>
              <li class="d-flex align-items-center">
                <a href="">Blog</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3 padding-0">
          <div class="menu pl-5 pr-5">
            <ul class="d-flex justify-content-between">
              <li class="d-flex align-items-center">
                <div class="bg searchIcon">
                  <i class="far fa-search"></i>
                </div>
              </li>
              <li class="d-flex align-items-center">
                <a href="">
                  <div class="bg">
                    <i class="far fa-shopping-bag"></i>
                  </div>
                </a>
              </li>
              <li class="d-flex align-items-center">
                <a href="{% url 'login' %}">
                  <div class="bg">
                    <i class="far fa-user"></i>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row pt-5"></div>
      {% block content %}{% endblock %}
      
      <div class="row footer pt-3 ">
        <div class="col-sm-12">
          <img src="{% static 'img/logo.png' %}" alt="" srcset="">
        </div>
        <hr>
        <div class="col-6 col-sm-3 pt-3">
          <ul>
            <li>Tổng đài</li>
            <li>Mua hàng: 1900.9696.42 (7:30 - 22:00)</li>
            <li>CSKH: 1900.9868.43 (8:00 - 21:30)</li>
            <li>Kỹ thuật: 1900.8668.54 (7:30 - 22:00)</li>
          </ul>
        </div>
        <div class="col-6 col-sm-3 pt-3">
           <ul>
            <li>Hệ thống cửa hàng</li>
            <li>Xem 4 cửa hàng ( Mở cửa 7:30 - 21:00)</li>
            <li>Nội quy cửa hàng</li>
            <li>Chất lượng phục vụ</li>
            <li>Chính sách bảo hành & đổi trả</li>
          </ul>
        </div>
        <div class="col-6 col-sm-3 pt-3">
           <ul>
            <li>Hỗ trợ khách hàng</li>
            <li>Điều kiện giao dịch chung</li>
            <li>Hướng dẫn mua hàng online</li>
            <li>Chính sách giao hàng</li>
            <li>Hướng dẫn thanh toán</li>
          </ul>
        </div>
        <div class="col-6 col-sm-3 pt-3">
          <ul>
            <li>Về thương hiệu TopZone</li>
            <li>Điều kiện giao dịch chung</li>
            <li>Hướng dẫn mua hàng online</li>
            <li>Chính sách giao hàng</li>
            <li>Hướng dẫn thanh toán</li>
          </ul>
        </div>
        
      <div class="col-sm-12 pt-4 address">
        <p>© 2018. Công ty cổ phần Thế Giới Di Động. GPDKKD: 0303217354 do sở KH & ĐT TP.HCM cấp ngày 02/01/2007. <br>
Địa chỉ: 128 Trần Quang Khải, P. Tân Định, Q.1, TP. Hồ Chí Minh. Điện thoại: 028 38125960. Email: cskh@topzone.vn. Chịu trách nhiệm nội dung: Huỳnh Văn Tốt.</p>
      </div>
      </div>
      
    </div>

    
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
