<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <link rel="icon" href="{% static 'smile.ico' %}">
</head>

<body>
    <div class="banner">
        <marquee id="text">10/10 giảm 5% cho tất cả các sản phẩm.</marquee>

        <div style="height: 44px;width:100%; background-color:#303030;">
            <ul class="menu-home">
                <li>
                    <a href="/"><img src="https://www.apple.com/ac/globalnav/6/en_US/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_apple_image__cxwwnrj0urau_large.svg" alt="Home"></a>
                </li>
                <li><a href="/iphone">iPhone</a></li>
                <li><a href="/ipad">iPad</a></li>
                <li><a href="/macbook">MacBook</a></li>
                <li><a href="/watch">Watch</a></li>
                <li><a href="/news">Tin tức</a></li>
            </ul>

            <div class='in-out'>
                {% if logged %} Welcome, {{username}}
                <a href='/login/'>Đăng xuất</a> {% else %}
                <a href='/login/'>Đăng nhập</a> {% endif %}
            </div>
        </div>
    </div>

    <div style="height: 74px;"></div>

    {% block content %}{% endblock %}

</body>

</html>