
{% extends 'base.html' %}
 {% load static %} 
{% block title %}{{product.name}}{% endblock title %}
{% block content %}
<div class="row productDetail pt-5 pb-5">
    
    <div class="col-sm-6">
        <div class="">
            <img class="productImg" width="100%" src="{{product.showcasedImg.url}}" alt="">
        
        </div>
    </div>
    <div class="col-sm-6">
        <p class="productName">{{product.name}}</p>
        <p class="productPrice">{{product.price}} ₫</p> 
        <p>Dung lượng</p>
        <div class="capacity capacity--active">64GB</div>
        <div class="capacity">128GB</div>
        <div class="capacity">256GB</div>
        <p class="mt-3">Màu</p>
        <div class="colors mb-5">
            <div class="color color--active" style="background-color:  #3c4870;"></div>
            <div class="color " style="background-color:  #b90b2d;"></div>
            <div class="color " style="background-color:  #ebebe3;"></div>
            <div class="color" style="background-color:  #262626;"></div>
            <div class="color" style="background-color:  #b7afe6;"></div>
        </div>
        <a href="">
            <div class="addtocart mr-lg-3">Mua ngay</div>
             
        </a>
        <a href="">
           <div class="installment">Trả góp</div>
        </a>
    </div>
</div>

<div class="row">

    <div class="col-sm-12 padding-0">

        <div class="login-box">
        <a id="home" href="/"><img src="https://www.apple.com/ac/globalnav/6/en_US/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_apple_image__cxwwnrj0urau_large.svg" alt="Home"></a>

        <form id="form" action="{% url 'review' %}" method="post">
            {% csrf_token %}
            <div class="user-box">
                <input id="input1" type="text" autocomplete="off" name="name" required value="{{name}}">
                <label>Họ và tên</label>
            </div>
            <div class="user-box">
                <input id="input2" type="text" autocomplete="off" name="phone" required value="{{phone}}">
                <label>Số điện thoại</label>
            </div>
            <div class="user-box">
                <input id="input3" type="password" name="password" required>
                <label>Mật khẩu</label>
            </div>
            <div class="user-box">
                <input id="input4" type="password" name="password2" required>
                <label>Nhập lại mật khẩu</label>
            </div>
            <p id="error">{{result}}</p>
            <a href="#" onclick="submit()">
                <span></span>
                <span></span>
                <span></span>
                <span></span> Đăng ký
            </a>
            <input type="submit" hidden/>{# enter for submit #}
        </form>
        <p class="link">
            <br>
            <a href="/login">Đã có tài khoản?</a>
        </p>
    </div>
    </div>
    <div class="col-sm-12 padding-0">
        <img style="width: 100%;" src="{% static 'img/mota.jpg' %}" alt="">
        <img style="width: 100%;" src="{% static 'img/mota2.jpg' %}" alt="">
        <img style="width: 100%;" src="{% static 'img/mota3.jpg' %}" alt="">
        <img style="width: 100%;" src="{% static 'img/mota4.jpg' %}" alt="">
    </div>
</div>

{% endblock content %}
