{% extends 'base.html' %}
{% load static %} 
{% block title %}Kết quả tìm kiếm {{request.GET.q}} {% endblock title %}
{% block content %}
<div class="row pt-5 ">
    <div class="col-sm-12 d-flex justify-content-center ">
         <p style="font-size: 1.5rem;">Kết quả tìm kiếm cho: <strong>{{request.GET.q}}</strong> </p>
    </div>
</div>
    {% if result %}
        <div class="row pt-2 pb-5">
            {% for product in result %}
               <div class="col-6 col-sm-3 mt-5 ">
                    <div class="product">
                        <a href="/product/{{product.id}}">
                            <img class="productImg" width="100%" src="{{product.showcasedImg.url}}" alt="">
                            <p class="productName">{{product.name}}</p>
                        </a>
                            <p class="productPrice">{{product.price}} ₫</p>
                    </div>
             </div>
            {% endfor %}
        </div>
    {% else %}
    <div class="row">
        <div class="col-12">
           <p style="text-align: center;" class="notfound text-danger" > Không tìm thấy sản phẩm nào</p>
        </div>
        <div class="col-12 hint">
         <strong>  Để tìm được kết quả chính xác hơn, bạn vui lòng:</strong> <br>

            Kiểm tra lỗi chính tả của từ khóa đã nhập <br>

            Thử lại bằng từ khóa khác <br>

            Thử lại bằng những từ khóa tổng quát hơn <br>

            Thử lại bằng những từ khóa ngắn gọn hơn<br>
        </div>
        
    </div>
    {% endif %}
{% endblock content %}