body {
    margin: 0;
    padding: 0;
}

.banner {
    background-color: #444444;
    height: 30px;
    width: 100%;
    position: fixed;
    line-height: 30px;
}

.banner .left {
    text-align: center;
    width: 15%;
    float: left;
    color: yellow;
}

.banner .mid {
    color: white;
    font-size: 14px;
    font-weight: 700;
    width: 70%;
    float: left;
    font-family: Sans-serif !important;
}

.banner .right {
    color: red;
    text-align: center;
    width: 15%;
    float: left;
    font-weight: bolder;
}

.menu {
    top: 30px;
    /* background-color:rgba(0, 0, 0, 0.8); */
    width: 100%;
    /* position: fixed; */
}