{% extends 'home/base.html' %} {% load static %} {% block title %}Kết quả tìm kiếm
{{request.GET.q}} {% endblock title %} {% block content %}
{% load tags %}

<div class="row pt-5">
  <div class="col-sm-12 d-flex justify-content-center">
    <p style="font-size: 1.5rem">
      Kết quả tìm kiếm cho: <strong>{{request.GET.q}}</strong>
    </p>
  </div>
</div>
{% if result %}
<div class="row p-lg-5">
  {% for product in page_obj %}
  <div class="col-6 col-sm-4 mt-5">
    <div class="product">
      <a href="/product/{{product.id}}">
        <img
          class="productImg"
          width="100%"
          src="{{product.showcasedImg.url}}"
          alt=""
        />
        <p class="productName">{{product.name}}</p>
      </a>
      <div class="d-flex price w-100 justify-content-center">
                <p class="productPrice mr-2"> {%multiply product.sale product.price   %}₫</p>
            {% if product.sale != None and  product.sale != 0 %} 
                <p class="productPrice  productPrice--sale">{{ product.price }} ₫</p>
            {% endif %}
                      
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="col-sm-12 pt-5">
    <span class="step-links d-flex justify-content-center">
      {% if page_obj.has_previous %}
      <a
        class="mr-3 pre"
        href="?q={{request.GET.q}}&page={{ page_obj.previous_page_number }}"
      >
        &laquo; previous</a
      >
      {% endif %}
      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
      <a
        class="ml-3 next"
        href="?q={{request.GET.q}}&page={{ page_obj.next_page_number }}"
        >next &raquo;
      </a>

      {% endif %}
    </span>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col-12">
    <p style="text-align: center" class="notfound text-danger">
      Không tìm thấy sản phẩm nào
    </p>
  </div>
  <div class="col-12 hint">
    <strong> Để tìm được kết quả chính xác hơn, bạn vui lòng:</strong> <br />

    Kiểm tra lỗi chính tả của từ khóa đã nhập <br />

    Thử lại bằng từ khóa khác <br />

    Thử lại bằng những từ khóa tổng quát hơn <br />

    Thử lại bằng những từ khóa ngắn gọn hơn<br />
  </div>
</div>
{% endif %} {% endblock content %}
