@media (max-width: 349.99px) {
  html {
    font-size: 12px;
  }

}
@media (min-width: 350px) and (max-width: 575.99px) {
  html {
    font-size: 13px;
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1340.98px) {
  html {
    font-size: 16px;
  }
 .main a{
    padding: 1rem 2rem;
}


}

@media (min-width: 1341px) {
  html {
    font-size: 18px;
  }
 
.main a{
    padding: 1rem 2rem;
}

}