body {
  margin: 0;
  padding: 0;
}
.padding-0 {
  padding-right: 0rem;
  padding-left: 0rem;
}
.myNavbar li {
  color: white;
  cursor: pointer;
}
ul {
  padding: 0;
  margin: 0;
}
.myNavbar {
  background-color: black;
}
.myNavbar li,
.myNavbar ul,
.main,
.menu {
  height: 100%;
}
.myNavbar a {
  color: white;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  transition: all 1s;
}
.myNavbar a:hover {
  text-decoration: none;
}
.main li:hover {
  background-color: #2f3033;
}

.myNavbar img {
  width: 100%;
}
.menu .bg {
  height: 2rem;
  position: relative;
  width: 2rem;
  background-color: #2f3033;
  border-radius: 50%;
}
.menu i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu .bg:hover {
  background-color: #4f5155;
}
.menu a {
  display: inline;
  padding: 0;
}

.searchInput {
  padding: 1rem 2rem;
  background-color: transparent;
  width: 100%;
  border: none;
  color: white;
  transition: all 1s;
}
input:focus {
  outline: none;
}
.searchForm {
  display: none;
  transition: all 1s;
  width: 70%;
  position: relative;
}
.myNavbar .fa-times {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  color: white;
  display: inline;
  cursor: pointer;
  font-size: 1.3rem;
}
