body {
  margin: 0;
  padding: 0;
  background-color: #3e3e3f;
  color: white;
}
a, a:hover{
  color: white;
}
.padding-0 {
  padding-right: 0rem;
  padding-left: 0rem;
}
.myNavbar li {
  color: white;
  cursor: pointer;
}
ul {
  padding: 0;
  margin: 0;
}
.myNavbar {
  background-color: black;
  position: fixed ;
  z-index: 1;
width: 100%;
}
.myNavbar li,
.myNavbar ul,
.main,
.menu {
  height: 100%;
}
.myNavbar a {
  color: white;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}
 a:hover {
  text-decoration: none;
}
.main li:hover {
  background-color: #2f3033;
}

.myNavbar img {
  width: 100%;
}
.menu .bg {
  height: 2rem;
  position: relative;
  width: 2rem;
  background-color: #2f3033;
  border-radius: 50%;
}
.menu i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu .bg:hover {
  background-color: #4f5155;
}
.menu a {
  display: inline;
  padding: 0;
}

.searchInput {
  padding: 1rem 2rem;
  background-color: transparent;
  width: 100%;
  border: none;
  color: white;
  transition: all 1s;
}
input:focus {
  outline: none;
}
.searchForm {
  display: none;
  transition: all 1s;
  width: 90%;
  position: relative;
}
.myNavbar .fa-times {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  color: white;
  display: inline;
  cursor: pointer;
  font-size: 1.3rem;
}

/* policies */
.policies{
  background-color: #2f3033;
}
.policy{
  width: 100%;
  text-align: center;
   height: 9rem;
  background-color: #2f3033;
}
.policy i{
  font-size: 3rem;
  font-weight: 300;
}


/* categories */
.category{
  width: 100%;
  background-color: #2f3033;
  height: 15rem;
  border-radius: 1rem;
}
.category img{
  width: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.category p{
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.category:hover,.product:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* session */
.sessionTitle i,.sessionTitle span{
  font-size: 3rem;
}
.sessionTitle{
text-align: center;
}
.product{
  background-color: #2f3033;
border-radius: 2rem;
padding: 2rem 1rem;
}
.productName{
  margin-top: 1rem;
  text-align: center;
  font-weight: 400;
}
.productPrice{
text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
}

/* footer */
.footer{
  background-color: black;
}
.footer ul{
  list-style-type: none;
  color: #e5e5e5;
}

.footer .address{
  font-size: 0.7rem;
  color: #838891;
}